body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: yellow;
}
header {
  text-align: center;
}
nav a {
  padding: 0 10px;
  background-color: grey;
}
div > img {
  text-align: center;
}


#featured-property{
  
  width: 800px;
  text-align: center;
}

#details > div {
  display: block;
  float: left;
  background-color: red;
  text-align: center;
  width:25%;
}